
body {
  background: url('img/Background.jpg') no-repeat fixed;
  background-size: cover;
  font-family: cursive,sans-serif;
}
.leftColumn {   
    float: left;
    width: 21%;
    padding-left: 30px;
    margin-top: 70px;
}
.centerColumn {
    float: center;
    width: 61%;
    padding-left: 40px;
     margin-top: 70px;
}
.rightColumn {   
    float: right;
    width: 15%;
    padding-left: 30px;
    margin-top: 70px;
}

.card {
    text-align: center;
     background-color: white;
     padding: 20px;
     margin-top: 20px;
}
.cardCenter {
    text-align: center;
  
    padding: 20px;
    margin-top: 20px;
    width: 100%;
    height: 550px;
    overflow: auto;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.footer {
    padding: 20px;
    text-align: center;
    background: linear-gradient(to top, #73f2fc , #028792);;
    margin-top: 20px;
    width : 100%;
}

.buttonStyle {
    background-color: #208fa7;
    color: white;
}

.buttonDropList {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.buttonDropList:hover, .buttonDropList:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    
}
.dropdown a:hover {background-color: #ddd}

.show {display:block;}

.ProjectUl {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:white;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
li {
    border: solid;
    border-color: #208fa7;
    margin-top: 10px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    background: #208fa7; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}